<h1>Add A New Photo</h1>

<form action="http://localhost:3000/create_photo">
  <label for="Caption">Caption:</label>
  <input type ="text" id="Caption" name="the_caption">
  <div>
  <label for="Image URL">Image URL:</label>
  <input type ="text" id="Image URL" name="the_source">

  <button>Create Photo</button>
</form>
